.btn-pulse{
    animation: smoothScale 3s infinite ease-in-out;
}

@keyframes smoothScale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

/* slide animate */
.slide-left{
    animation: slideInLeft 2s ease-out forwards;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);  
    opacity: 0;
  }
  100% {
    transform: translateX(0);   
    opacity: 1;
  }
}
/* slide right */
.slide-right{
    animation: slideInRight 2s ease-out forwards
}
@keyframes slideInRight {
  0% {
    transform: translateX(100%);  
    opacity: 0;
  }
  100% {
    transform: translateX(0);  
    opacity: 1;
  }
}
/* float icon */
.floating-icon {
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-18px); }
  100% { transform: translateY(0px); }
}
/*  up and down */
.slide-down {
    
    animation: slideInDown 2s ease-out forwards;
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100%); 
    opacity: 0;
  }
  100% {
    transform: translateY(0);    
    opacity: 1;
  }
}

.slide-up {
    animation: slideUp 2s ease-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);  
    opacity: 0;
  }
  100% {
    transform: translateY(0);   
    opacity: 1;
  }
}