
@media (max-width: 575px) {
    #hero{
        margin: 0 ;
    }
 .menus,.header-btn,.hide {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }   
    #hero {
        background-size: 200% auto;
        min-height: 500px;
    }

    .hero-visual {
        background-size: 229px auto;
        margin-top: -125px;
        position: absolute;
    }
#hero .hero-visual .new{
    position: relative;
    top: -90px;
    left: 0px;
}
    .mic-img {
        width: 100px;  
        margin-left: 59px;
    }
/* grid */

/* .coun{ 
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}  */
    .grid-box {
        gap: 15px;  
        padding: 40px 10px; 
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        grid-template-areas: 
            "box-1"
            "box-2"
            "box-3"
            "box-4"
            "box-5";
    }
    /* feature */
    .feature h2{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-bottom:40px;
}
.feature .video-box{ 
    grid-template-columns: repeat(1,1fr);
    gap: 35px;
}
.feature .video-box .video-1 {
    background-color: rgb(37,13,68);
    width: 90%;
    height: 460px;
    margin: 0 auto;
}
.podcast{
    padding: 40px 20px;
}
#host .host-container{
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}
#host .host-container .host-text{
    text-align: center;
}
}
/* footer section */
@media screen and (max-width: 575px) {
    footer {
        width: 100%;
        
        background-size: cover; 
        background-position: center;
        
        padding:0 0 20px; 
    }

    .icons-box {
        flex-direction: column; 
        gap: 15px;
        padding: 20px 0;
    }
    .box-01 {
        width: 100%;  
        justify-content: center;
    }
    .box-01 img {
        width: 24px;  
    }
    .box-01 h3 {
        font-size: 14px;
    }
    footer p {
        font-size: 12px;
        padding: 0 10px;
    }
}


 /* Medium Device: 576px to 992 px (Optional)
Large Device: above 992 px */

/* Medium Devices: 576px to 992px */
@media (min-width: 576px) and (max-width: 992px) {
    

    .grid-box {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-areas: 
            "box-1 box-2"
            "box-3 box-4"
            "box-5 box-5";
    }
    .item-1 { grid-area: box-1; }
    .item-2 { grid-area: box-2; }
    .item-3 { grid-area: box-3; }
    .item-4 { grid-area: box-4; }
    .item-5 { grid-area: box-5; }
}


@media screen and (max-width:992px) {

    
}